<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Just Blog</title>
    <link rel="stylesheet" href="~/assets/css/customize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/assets/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/assets/vendors/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/customize.css" />
    <!-- main css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>
    <header class="header_area">
        <div class="logo_part">
            <div class="container">
                <a class="logo" href="@Url.Action("Index", "Home", new { area = "" })" style="font-size: 30px;font-family:open-sans, sans-serif">Just Blog</a>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    @*Brand and toggle get grouped for better mobile display*@
                    <a class="navbar-brand logo_h" href="@Url.Action("Index", "Home", new { area = "" })" style="font-size: 30px;font-family:open-sans, sans-serif">Just Blog</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*Collect the nav links, forms, and other content for toggling*@
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav">
                            <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.Action("Menu", "Home")</li>
                            <li class="nav-item">@Html.ActionLink("Post", "Index", "Posts", new { area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("CategoryManagement", "Admin")">Category Management</a></li>
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("TagManagement", "Admin")">Tag Management</a></li>
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("PostManagement","Admin")">Post Management</a></li>
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("CommentManagement","Admin")">Comment Management</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    @RenderBody();
    @Html.Partial("_Footer")

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/stellar.js"></script>
    <script src="~/assets/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/assets/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendors/isotope/isotope-min.js"></script>
    <script src="~/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <script src="~/assets/js/justblog.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>
