@if (Request.IsAuthenticated)
{
    <form id="logoutForm" class="navbar-right" action="@Url.Action("LogOff", "Account", new { area = "" })" , method="post">
        @Html.AntiForgeryToken()

        <li class="nav-item submenu dropdown">
            <a class="nav-link" href="#">Hello @User.Identity.GetUserName()!</a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Manage", new { area = "" })">Account Settings</a></li>
                @if (User.IsInRole("Contributer") || User.IsInRole("Admin"))
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("CategoryManagement", "Admin")">Contribute Dashboard</a></li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "RolesAdmin", new { area = "Identity" })">Admin Dashboard</a></li>
                }
                <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </ul>
        </li>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
