<div class="col-lg-4">
    <div class="blog_right_sidebar">
        @Html.Action("AboutCard", "Home")
        @Html.Action("LastestPosts", "Posts")
        @Html.Action("MostViewedPosts", "Posts")
        @Html.Action("CategoryRightMenu", "Categories")
        @Html.Action("PopularTags", "Tags")
    </div>
</div>
